[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
scipy = "*"
pyqtgraph = "*"
pyqt6 = "*"
pyopengl = "*"
pynput = "*"
pillow = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.11"
